.App {
  text-align: center;
}

.dot-container{
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
}
.dot:hover {
  cursor: pointer;
  height: 120px;
  width: 120px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ff0000;
}